<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <listener>
        <listener-class>com.yyj.config.PreloadListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>service</servlet-name>
        <servlet-class>com.yyj.servlet.control.ControlService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>service</servlet-name>
        <url-pattern>/service/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>0</session-timeout>
    </session-config>

    <welcome-file-list>
        <!--<welcome-file>orgwork.html</welcome-file>-->
        <welcome-file>bbs.html</welcome-file>
    </welcome-file-list>
</web-app>
